<h1>ANSWER!</h1>

<p>DEBUG ONLY: Random Number: <%= @rand_num %></p>

<p>You have <%= @remaining_attempts %>/5 attempts left!</p>

<p>You guessed <%= @guess %>! <%= @message %></p>

<a href="/ask">Back to Guess Again</a>
